div.sidebar-container, div.sidebar {
    left: 0;
    top: 0;
    box-sizing: border-box;
    width: 360px;
    height: calc(100vh - 80px);
}

div.sidebar-container.collapsed, div.sidebar-container.collapsed > div.sidebar {
    width: 80px;
}

div.sidebar {
    border-right:  1px solid rgb(219, 219, 219);
    overflow: auto;
}

div.sidebar div.sidebar-actions-container {
    width: 100%;
    box-sizing: border-box;
    border-bottom: rgb(219, 219, 219) solid 1px;
    display: flex;
}

div.sidebar-actions-container > button {
    background-color: white;
    border: none;
    box-sizing: border-box;
    width: 50%;
    height: 70px;
}

div.sidebar-actions-container > button:first-child {
    border-right: rgb(219, 219, 219) solid 1px;
}
