div.navbar-container, nav {
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    height: 80px;
    width: 100%;
}

nav {
    border-bottom:  1px solid rgb(219, 219, 219);
    background-color: white;
    padding: 10px;
    display: flex;
    align-items:center;
}

nav > div.sidebar-offset {
    width: 360px;
    height: 80px;
    display: flex;
    align-items:center;
}

nav > div.sidebar-offset.collapsed {
    width: 80px;
} 

nav > div.navbar-content {
    width: calc(100% - 360px);
    display: flex;
    justify-content: space-between;
}

nav > div.navbar-content.full {
    width: 100%;
}

nav > div.navbar-content.collapsed {
    width: calc(100% - 80px);
    display: flex;
    justify-content: space-between;
}